<p class="lead">
  Первый в мире удобный менеджер флеш-карточек. Именно так.
</p>

<div class="card-layout">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 original-text-card"><%= @card.original_text %></div>
    <div class="col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 card-translation-layout">
      <%= simple_form_for @review, html: {class: 'form-horizontal' } do |f| %>
        <%= f.input :translated_text, label: 'Напишите перевод:', required: false %><br>
        <%= f.button :submit, value: 'Проверить', class: 'btn btn-info btn-sm' %>
      <% end %>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>