<table class="table table-striped table-bordered table-hover">
  <caption>
    <h3>List of cards</h3>
  </caption>
  <thead>
    <th>Original Text</th>
    <th>Translated Text</th>
    <th>Reviewed Date</th>
  </thead>
  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.original_text %></td>
        <td><%= card.translated_text %></td>
        <td><%= card.review_date.strftime("%d/%m/%y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>